                    <!-- 交渉技能セクション -->
                    <div class="skill-category">
                        <div class="skill-category-header" id="negotiationSkillsHeader">
                            <span><i class="fas fa-comments"></i> 交渉技能</span>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="skill-category-content" id="negotiationSkillsContent">
                            <table class="skill-table">
                                <thead>
                                    <tr>
                                        <th width="5%">成長</th>
                                        <th width="20%">技能名</th>
                                        <th width="10%">初期値</th>
                                        <th width="15%">職業P</th>
                                        <th width="15%">興味P</th>
                                        <th width="15%">成長分</th>
                                        <th width="10%">その他</th>
                                        <th width="10%">合計</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="fastTalk"></td>
                                        <td>言いくるめ</td>
                                        <td id="fastTalk-base">5</td>
                                        <td><input type="number" id="fastTalk-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="fastTalk-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="fastTalk-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="fastTalk-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="fastTalk-total">5</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="persuade"></td>
                                        <td>説得</td>
                                        <td id="persuade-base">15</td>
                                        <td><input type="number" id="persuade-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="persuade-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="persuade-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="persuade-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="persuade-total">15</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="bargain"></td>
                                        <td>値切り</td>
                                        <td id="bargain-base">5</td>
                                        <td><input type="number" id="bargain-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="bargain-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="bargain-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="bargain-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="bargain-total">5</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="creditRating"></td>
                                        <td>信用</td>
                                        <td id="creditRating-base">15</td>
                                        <td><input type="number" id="creditRating-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="creditRating-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="creditRating-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="creditRating-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="creditRating-total">15</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="disguise"></td>
                                        <td>変装</td>
                                        <td id="disguise-base">1</td>
                                        <td><input type="number" id="disguise-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="disguise-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="disguise-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="disguise-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="disguise-total">1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>