                    <!-- 射撃技能セクション -->
                    <div class="skill-category">
                        <div class="skill-category-header" id="shootingSkillsHeader">
                            <span><i class="fas fa-gun"></i> 射撃技能</span>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <div class="skill-category-content" id="shootingSkillsContent">
                            <table class="skill-table">
                                <thead>
                                    <tr>
                                        <th width="5%">成長</th>
                                        <th width="20%">技能名</th>
                                        <th width="10%">初期値</th>
                                        <th width="15%">職業P</th>
                                        <th width="15%">興味P</th>
                                        <th width="15%">成長分</th>
                                        <th width="10%">その他</th>
                                        <th width="10%">合計</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="handgun"></td>
                                        <td>拳銃</td>
                                        <td id="handgun-base">20</td>
                                        <td><input type="number" id="handgun-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="handgun-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="handgun-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="handgun-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="handgun-total">20</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="smg"></td>
                                        <td>サブマシンガン</td>
                                        <td id="smg-base">15</td>
                                        <td><input type="number" id="smg-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="smg-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="smg-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="smg-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="smg-total">15</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="shotgun"></td>
                                        <td>ショットガン</td>
                                        <td id="shotgun-base">30</td>
                                        <td><input type="number" id="shotgun-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="shotgun-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="shotgun-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="shotgun-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="shotgun-total">30</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="mg"></td>
                                        <td>マシンガン</td>
                                        <td id="mg-base">15</td>
                                        <td><input type="number" id="mg-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="mg-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="mg-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="mg-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="mg-total">15</td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="growth-check" data-skill="rifle"></td>
                                        <td>ライフル</td>
                                        <td id="rifle-base">25</td>
                                        <td><input type="number" id="rifle-occ" class="input skill-points occupation-points" value="0" min="0"></td>
                                        <td><input type="number" id="rifle-int" class="input skill-points interest-points" value="0" min="0"></td>
                                        <td><input type="number" id="rifle-growth" class="input skill-points growth-points" value="0" min="0"></td>
                                        <td><input type="number" id="rifle-other" class="input skill-points other-points" value="0" min="0"></td>
                                        <td class="total-cell" id="rifle-total">25</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>